loki:
  enabled: true
  isDefault: false

  persistence:
    enabled: true
    storageClassName: local-path
    accessModes:
      - ReadWriteOnce
    size: 20Gi

  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'

promtail:
  enabled: true
  config:
    lokiAddress: http://loki:3100/loki/api/v1/push
