---
apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: monitoring
data:
  telegraf.conf: |
    [agent]
      interval = "10s"
      hostname = "k8s-telegraf"

    [[outputs.influxdb_v2]]
      urls = ["http://influxdb.monitoring.svc.cluster.local:8086"]
      token = "${INFLUX_TOKEN}"
      organization = "${INFLUX_ORG}"
      bucket = "${INFLUX_BUCKET}"

    [[inputs.net]]
    [[inputs.netstat]]
    [[inputs.http]]

    [[inputs.ping]]
      urls = ["1.1.1.1", "8.8.8.8"]
      count = 4

    [[inputs.proxmox]]
      base_url = "https://192.168.49.220:8006/api2/json"
      api_token = "${PROXMOX_TOKEN}=${PROXMOX_SECRET}"
      insecure_skip_verify = true
      response_timeout = "5s"


    [[inputs.snmp]]
      agents = ["192.168.49.1:161"]
      version = 2
      community = "${SNMP_COMMUNITY}"
      interval = "60s"
      timeout = "10s"

    [[inputs.snmp.field]]
      name = "hostname"
      oid = "RFC1213-MIB::sysName.0"
      is_tag = true

    [[inputs.snmp.field]]
      name = "uptime"
      oid = "RFC1213-MIB::sysUpTime.0"

    [[inputs.snmp.field]]
      name = "cpu_load"
      oid = "1.3.6.1.4.1.14988.1.1.3.10.0"

    [[inputs.snmp.table]]
      name = "interface"
      inherit_tags = ["hostname"]
      oid = "IF-MIB::ifTable"

   [[inputs.snmp.table.field]]
      name = "ifName"
      oid = "IF-MIB::ifDescr"
      is_tag = true

    [[inputs.snmp.table.field]]
      name = "ifHCInOctets"
      oid = "IF-MIB::ifHCInOctets"

    [[inputs.snmp.table.field]]
      name = "ifHCOutOctets"
      oid = "IF-MIB::ifHCOutOctets"
