---
apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: monitoring
data:
  telegraf.conf: |
    [agent]
      interval = "10s"
      hostname = "k8s-telegraf"

    [[outputs.influxdb_v2]]
      urls = ["http://influxdb.monitoring.svc.cluster.local:8086"]
      token = "${INFLUX_TOKEN}"
      organization = "${INFLUX_ORG}"
      bucket = "${INFLUX_BUCKET}"

    [[inputs.net]]
    [[inputs.netstat]]
    [[inputs.http]]

    [[inputs.ping]]
      urls = ["1.1.1.1", "8.8.8.8"]
      count = 4
