---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: telegraf
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegraf
  template:
    metadata:
      labels:
        app: telegraf
    spec:
      containers:
      - name: telegraf
        image: telegraf:latest
      env:
        - name: PROXMOX_TOKEN
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: proxmox-token
        - name: PROXMOX_SECRET
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: proxmox-secret
        - name: SNMP_COMMUNITY
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: snmp-community
        - name: INFLUX_TOKEN
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: influx-token
        - name: INFLUX_ORG
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: influx-org
        - name: INFLUX_BUCKET
          valueFrom:
            secretKeyRef:
              name: telegraf-secrets
              key: influx-bucket  
       volumeMounts:
        - name: config
          mountPath: /etc/telegraf/telegraf.conf
          subPath: telegraf.conf
      volumes:
      - name: config
        configMap:
          name: telegraf-config
