grafana:
  enabled: false

defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

prometheus:
  prometheusSpec:
    retention: 30d
    initContainers:
    - name: init-config-reloader
      resources:
        limits:
          memory: 128Mi
        requests:
          memory: 128Mi
    securityContext:
      fsGroup: 2000
      runAsNonRoot: true
      runAsUser: 1000
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "local-path"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
