grafana:
  enabled: false

defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

prometheusOperator:
  prometheusConfigReloader:
    resources:
      limits:
        memory: 128Mi
      requests:
        memory: 50Mi

prometheus:
  prometheusSpec:
    retention: 30d
    securityContext:
      fsGroup: 2000
      runAsNonRoot: true
      runAsUser: 1000
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "local-path"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
