serviceMonitor:
  enabled: true
  defaults:
    labels:
      release: prometheus

config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_status_codes: []
        method: GET
    icmp:
      prober: icmp
      timeout: 5s
