---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: landing-page
  namespace: web
  labels:
    app: landing-page
spec:
  replicas: 1
  selector:
    matchLabels:
      app: landing-page
  template:
    metadata:
      labels:
        app: landing-page
    spec:
      containers:
      - name: web
        image: joshdarcy/homelab-landing:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 80
