---
config:
  clients:
    - url: http://loki-stack.monitoring.svc:3100/loki/api/v1/push

  snippets:
    extraScrapeConfigs: |
      - job_name: syslog
        syslog:
          listen_address: 0.0.0.0:1514
          labels:
            job: syslog
        relabel_configs:
          - source_labels: [__syslog_message_hostname]
            target_label: host

extraPorts:
  - name: syslog
    containerPort: 1514
    protocol: TCP

service:
  enabled: true
  type: NodePort
  ports:
    - name: syslog
      port: 514
      targetPort: 1514
      nodePort: 30814
      protocol: TCP
